@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans+Deva:wght@100..800&display=swap");
main section p, main section h2, main section h1 {
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playpen Sans Deva", sans-serif;
  background-color: #422100 !important;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0;
}

.figure-img {
  list-style: none;
}

.fixed {
  position: fixed;
  bottom: 90px;
  right: 60px;
  height: 10px;
  width: 10px;
}

.grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  object-fit: cover;
  gap: 10px;
  margin: 2px;
  padding: 5px;
}

.grids div img {
  width: 700px;
  height: 700px;
  border: solid #004221 5px;
  max-width: 100%;
  max-height: 100%;
}

.contacto div h1 {
  margin: 5px;
  padding: 1px;
  border: #004221 solid 5px;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #004221;
}

.coordinacion div h2 {
  margin: 5px;
  padding: 1px;
  border: #004221 solid 5px;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #004221;
}

.formulario {
  width: 100%;
  height: auto;
  border: #004221 solid 5px;
  margin: 2px;
  padding: 2px;
  font-weight: 100px;
  color: #ffffff;
}

.duracion {
  font-size: 25px;
}

.tipos-de-masajes div img {
  width: 400px;
  height: 400px;
  border: solid #004221 5px;
  max-width: 100%;
  max-height: 100%;
  margin: 5px;
}

.tipos-de-masajes div div {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1fr;
  grid-template-rows: 1fr;
  margin: 5px;
  padding: 5px;
  text-align: center, justify;
}

.personalizado {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 2fr 1fr !important;
  grid-template-rows: 1fr !important;
  margin: 5px;
  padding: 5px;
  text-align: center, justify;
}

.dolores div img {
  width: 700px;
  height: 700px;
  border: solid #004221 5px;
  max-width: 100%;
  max-height: 100%;
  margin: 5px;
}

.mapa {
  border: solid #004221 5px;
  max-width: max-content;
  margin: 5px;
}

header nav {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}
header nav ul {
  list-style: none;
  text-align: left;
}
header nav ul li {
  display: inline;
  justify-items: left;
  margin: 5px;
  font-size: 20px;
  font-weight: 600px;
  padding: 2px;
  border: solid #004221;
  border-radius: 15px;
}
header nav ul li a {
  text-decoration: none;
  color: #ffffff !important;
}
header nav ul li a :hover {
  color: aqua !important;
}
header img {
  height: 200px;
  width: 200px;
  margin: 10px;
  border: solid 5px #004221;
}

main {
  background-image: url(../imagenes/banner-masaje-piedras.jpg);
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
main section h1 {
  font-size: 60px;
}
main section h2 {
  font-size: 50px;
}
main section p {
  font-size: 40px;
}

footer {
  margin: 10px;
  padding: 10px;
  color: #ffffff;
}
footer a img {
  height: 60px;
  width: 60px;
  margin: 10px;
}

@media screen and (max-width: 991px) {
  header img {
    height: 150px;
    width: 150px;
    margin: 8px;
    border: solid 4px #004221;
  }
  main h1 {
    color: #ffffff;
    font-size: 55px;
    font-weight: 250;
    text-align: center;
  }
  main h2 {
    color: #ffffff;
    font-size: 45px;
    font-weight: 250;
    text-align: center;
  }
  main p {
    color: #ffffff;
    font-size: 35px;
    font-weight: 250;
    text-align: center;
  }
  .duracion {
    font-size: 23px;
  }
  .grids {
    gap: 8px;
    margin: 2px;
    padding: 4px;
  }
  .grids div img {
    width: 600px;
    height: 600px;
    border: solid #004221 4px;
    max-width: 100%;
    max-height: 100%;
  }
  .tipos-de-masajes div img {
    width: 350px;
    height: 350px;
    border: solid #004221 5px;
    max-width: 100%;
    max-height: 100%;
    margin: 4px;
  }
  .tipos-de-masajes div div {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    margin: 4px;
    padding: 4px;
    text-align: center, justify;
  }
}
@media screen and (max-width: 862) {
  .contacto div h1 {
    font-size: 40px;
    font-weight: 200;
    margin: 5px;
    padding: 1px;
    border: #004221 solid 5px;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #004221;
  }
  .coordinacion div h2 {
    font-size: 35px;
    font-weight: 200;
    margin: 5px;
    padding: 1px;
    border: #004221 solid 5px;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #004221;
  }
}
@media screen and (max-width: 750px) {
  header img {
    height: 140px;
    width: 140px;
    margin: 6px;
    border: solid 3px #004221;
  }
  main h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
  }
  main h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
  }
  main p {
    color: #ffffff;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
  }
  .duracion {
    font-size: 20px;
  }
  .grids {
    gap: 6px;
    margin: 1px;
    padding: 3px;
  }
  .grids div img {
    width: 500px;
    height: 500px;
    border: solid #004221 3px;
    max-width: 100%;
    max-height: 100%;
  }
  .tipos-de-masajes div img {
    width: 300px;
    height: 300px;
    border: solid #004221 3px;
    max-width: 100%;
    max-height: 100%;
    margin: 3px;
  }
  .tipos-de-masajes div div {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    margin: 3px;
    padding: 3px;
    text-align: center, justify;
  }
  .dolores div img {
    width: 650px;
    height: 650px;
    border: solid #004221 4px;
    max-width: 100%;
    max-height: 100%;
    margin: 4px;
  }
  footer {
    margin: 8px;
    padding: 8px;
    color: #ffffff;
  }
  footer a img {
    height: 50px;
    width: 50px;
    margin: 8px;
  }
}
@media screen and (max-width: 600px) {
  header img {
    height: 135px;
    width: 135px;
    margin: 5px;
    border: solid 2px #004221;
  }
  main h1 {
    color: #ffffff;
    font-size: 45px;
    font-weight: 200;
    text-align: center;
  }
  main h2 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 200;
    text-align: center;
  }
  main p {
    color: #ffffff;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
  }
  .duracion {
    font-size: 18px;
  }
  .grids {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    object-fit: cover;
    gap: 6px;
    margin: 1px;
    padding: 3px;
  }
  .grids div img {
    width: 600px;
    height: 600px;
    border: solid #004221 3px;
    max-width: 100%;
    max-height: 100%;
  }
  .tipos-de-masajes div img {
    width: 250px;
    height: 250px;
    border: solid #004221 3px;
    max-width: 100%;
    max-height: 100%;
    margin: 3px;
  }
  .personalizado {
    display: grid !important;
    grid-template-columns: auto !important;
    grid-template-rows: auto !important;
    object-fit: cover;
  }
  .tipos-de-masajes div div {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 3px;
    padding: 3px;
    text-align: center, justify;
  }
  .dolores div img {
    width: 550px;
    height: 550px;
    border: solid #004221 3px;
    max-width: 100%;
    max-height: 100%;
    margin: 3px;
  }
}
@media screen and (max-width: 350px) {
  header img {
    height: 130px;
    width: 130px;
    margin: 4px;
    border: solid 1px #004221;
  }
  main h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 150;
    text-align: center;
  }
  main h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 150;
    text-align: center;
  }
  main p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 150;
    text-align: center;
  }
  .duracion {
    font-size: 15px;
  }
  .grids {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    object-fit: cover;
    gap: 5px;
    margin: 1px;
    padding: 1px;
  }
  .grids div img {
    width: 400px;
    height: 400px;
    border: solid #004221 2px;
    max-width: 100%;
    max-height: 100%;
  }
  .tipos-de-masajes div img {
    width: 200px;
    height: 200px;
    border: solid #004221 2px;
    max-width: 100%;
    max-height: 100%;
    margin: 2px;
  }
  .personalizado {
    display: grid !important;
    grid-template-columns: auto !important;
    grid-template-rows: auto !important;
    object-fit: cover;
  }
  .tipos-de-masajes div div {
    margin: 2px;
    padding: 2px;
    text-align: center, justify;
  }
  .dolores div img {
    width: 500px;
    height: 500px;
    border: solid #004221 2px;
    max-width: 100%;
    max-height: 100%;
    margin: 2px;
  }
}

/*# sourceMappingURL=estilos.css.map */
