main{background-image: url(../imagenes/banner-masaje-piedras.jpg);
background-size:inherit;
background-repeat: no-repeat;
background-position:center;
background-attachment:fixed;
    section{
        h1{@extend %boton;
        font-size: 60px;
        
        }
        h2{@extend %boton;
            font-size: 50px;        
        
        }
        p{@extend %boton;
        font-size: 40px;
        
        }
    }
}