@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Deva:wght@100..800&display=swap');
*{margin: 0;padding: 0}
body{font-family: "Playpen Sans Deva", sans-serif;background-color: $color-terciario !important}
.bg-body-tertiary {
    --bs-bg-opacity: 0;}
.figure-img { list-style: none;}
.fixed{
    position: fixed;
    bottom: 90px;
    right: 60px;
    height: 10px; 
    width: 10px;}
.grids {display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    object-fit: cover;
    gap: 10px ;
    border: solid $color-principal 5px;
    margin: 2px;
    padding: 5px;}   
.grids div img{
    width: 700px;
    height: 700px;
    max-width: 100%;
    max-height: 100%}

.contacto h1{display: flex;
        justify-content:center ;
        align-items: center;
        margin: 10px;
        padding: 2px;
        border: $color-principal solid 5px;
        width: 99%;
        height: 12vh;
        text-align: center;
        background-color: $color-principal;}
.contacto h2{display: flex;
            justify-content:space-between ;
            align-items:inherit;
            margin: 10px;
            padding: 2px;
            border: $color-principal solid 5px;
            width: 99%;
            height: 28vh;
            text-align: center;
            background-color: $color-principal}
.formulario{width: 99%;
            height: 30vh;
            border: $color-principal solid 5px;
            margin: 2px;
            padding: 2px;
            font-weight: 100px; color: $color-secundario;}
