@media screen and (max-width: 991px) {
    header img {
        height: 150px;
        width: 150px;
        margin: 8px;
        border: solid 4px #004221
    }

    main h1 {
        color: #ffffff;
        font-size: 55px;
        font-weight: 250;
        text-align: center;
    }

    main h2 {
        color: #ffffff;
        font-size: 45px;
        font-weight: 250;
        text-align: center;
    }

    main p {
        color: #ffffff;
        font-size: 35px;
        font-weight: 250;
        text-align: center;
    }

    .duracion {
        font-size: 23px
    }

    .grids {
        gap: 8px;
        margin: 2px;
        padding: 4px;
    }

    .grids div img {
        width: 600px;
        height: 600px;
        border: solid #004221 4px;
        max-width: 100%;
        max-height: 100%
    }

    .tipos-de-masajes div img {
        width: 350px;
        height: 350px;
        border: solid #004221 5px;
        max-width: 100%;
        max-height: 100%;
        margin: 4px;
    }

    .tipos-de-masajes div div {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1fr;
        grid-template-rows: 1fr;
        margin: 4px;
        padding: 4px;
        text-align: center, justify;
    }
}

@media screen and (max-width: 862) {
    .contacto div h1 {
        font-size: 40px;
        font-weight: 200;
        margin: 5px;
        padding: 1px;
        border: #004221 solid 5px;
        width: 100%;
        height: auto;
        text-align: center;
        background-color: #004221;

    }

    .coordinacion div h2 {
        font-size: 35px;
        font-weight: 200;
        margin: 5px;
        padding: 1px;
        border: #004221 solid 5px;
        width: 100%;
        height: auto;
        text-align: center;
        background-color: #004221;

    }

}

@media screen and (max-width: 750px) {
    header img {
        height: 140px;
        width: 140px;
        margin: 6px;
        border: solid 3px #004221
    }

    main h1 {
        color: #ffffff;
        font-size: 50px;
        font-weight: 200;
        text-align: center;
    }

    main h2 {
        color: #ffffff;
        font-size: 40px;
        font-weight: 200;
        text-align: center;
    }

    main p {
        color: #ffffff;
        font-size: 30px;
        font-weight: 200;
        text-align: center;
    }

    .duracion {
        font-size: 20px
    }

    .grids {
        gap: 6px;
        margin: 1px;
        padding: 3px;
    }

    .grids div img {
        width: 500px;
        height: 500px;
        border: solid #004221 3px;
        max-width: 100%;
        max-height: 100%
    }

    .tipos-de-masajes div img {
        width: 310px;
        height: 310px;
        border: solid #004221 3px;
        max-width: 100%;
        max-height: 100%;
        margin: 3px;
    }

    .tipos-de-masajes div div {
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr;
        grid-template-rows: 1fr;
        margin: 3px;
        padding: 3px;
        text-align: center, justify;
    }

    .dolores div img {
        width: 600px;
        height: 600px;
        border: solid #004221 4px;
        max-width: 100%;
        max-height: 100%;
        margin: 4px;
    }

    footer {
        margin: 8px;
        padding: 8px;
        color: #ffffff;
    }

    footer a img {
        height: 50px;
        width: 50px;
        margin: 8px;
    }
}

@media screen and (max-width: 600px) {
    header img {
        height: 135px;
        width: 135px;
        margin: 5px;
        border: solid 2px #004221
    }

    main h1 {
        color: #ffffff;
        font-size: 45px;
        font-weight: 200;
        text-align: center;
    }

    main h2 {
        color: #ffffff;
        font-size: 35px;
        font-weight: 200;
        text-align: center;
    }

    main p {
        color: #ffffff;
        font-size: 25px;
        font-weight: 200;
        text-align: center;
    }

    .duracion {
        font-size: 18px
    }

    .grids {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        object-fit: cover;
        gap: 6px;
        margin: 1px;
        padding: 3px;
    }

    .grids div img {
        width: 450px;
        height: 450px;
        border: solid #004221 3px;
        max-width: 100%;
        max-height: 100%
    }

    .tipos-de-masajes div img {
        width: 300px;
        height: 300px;
        border: solid #004221 3px;
        max-width: 100%;
        max-height: 100%;
        margin: 3px;
    }

    .personalizado {
        display: grid !important;
        grid-template-columns: auto !important;
        grid-template-rows: auto !important;
        object-fit: cover;
    }

    .tipos-de-masajes div div {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin: 3px;
        padding: 3px;
        text-align: center, justify;
    }

    .dolores div img {
        width: 450px;
        height: 450px;
        border: solid #004221 3px;
        max-width: 100%;
        max-height: 100%;
        margin: 3px;
    }

}

@media screen and (max-width: 475px) {
    header img {
        height: 133px;
        width: 133px;
        margin: 4px;
        border: solid 1px #004221
    }

    main h1 {
        color: #ffffff;
        font-size: 35px;
        font-weight: 120;
        text-align: center;
    }

    main h2 {
        color: #ffffff;
        font-size: 25px;
        font-weight: 120;
        text-align: center;
    }

    main p {
        color: #ffffff;
        font-size: 15px;
        font-weight: 120;
        text-align: center;
    }

    .duracion {
        font-size: 12px
    }

    .grids {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        object-fit: cover;
        gap: 5px;
        margin: 1px;
        padding: 1px;
    }

    .grids div img {
        width: 350px;
        height: 350px;
        border: solid #004221 2px;
        max-width: 100%;
        max-height: 100%
    }

    .tipos-de-masajes div img {
        width: 350px;
        height: 350px;
        border: solid #004221 2px;
        max-width: 100%;
        max-height: 100%;
        margin: 2px;
    }

    .personalizado {
        display: grid !important;
        grid-template-columns: auto !important;
        grid-template-rows: auto !important;
        object-fit: cover;
    }

    .tipos-de-masajes div div {
        margin: 2px;
        padding: 2px;
        text-align: center, justify;
    }

    .dolores div img {
        width: 350px;
        height: 350px;
        border: solid #004221 2px;
        max-width: 100%;
        max-height: 100%;
        margin: 2px;
    }
}

@media screen and (max-width: 350px) {
    header img {
        height: 120px;
        width: 120px;
        margin: 3px;
        border: solid 1px #004221
    }

    main h1 {
        color: #ffffff;
        font-size: 30px;
        font-weight: 150;
        text-align: center;
    }

    main h2 {
        color: #ffffff;
        font-size: 20px;
        font-weight: 150;
        text-align: center;
    }

    main p {
        color: #ffffff;
        font-size: 10px;
        font-weight: 150;
        text-align: center;
    }

    .fixed {
        position: fixed;
        bottom: 95px;
        right: 65px;
        height: 8px;
        width: 8px;
    }

    .duracion {
        font-size: 10px
    }

    .grids {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        object-fit: cover;
        gap: 5px;
        margin: 1px;
        padding: 1px;
    }

    .grids div img {
        width: 300px;
        height: 300px;
        border: solid #004221 2px;
        max-width: 100%;
        max-height: 100%
    }

    .tipos-de-masajes div img {
        width: 250px;
        height: 250px;
        border: solid #004221 2px;
        max-width: 100%;
        max-height: 100%;
        margin: 2px;
    }

    .personalizado {
        display: grid !important;
        grid-template-columns: auto !important;
        grid-template-rows: auto !important;
        object-fit: cover;
    }

    .tipos-de-masajes div div {
        margin: 2px;
        padding: 2px;
        text-align: center, justify;
    }

    .dolores div img {
        width: 250px;
        height: 250px;
        border: solid #004221 2px;
        max-width: 100%;
        max-height: 100%;
        margin: 2px;
    }
}